* {

    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(74, 17, 33);
    font-size: 20px
}

body {
    background-color: rgb(31, 201, 223);
}

h1 {
    color: aliceblue;
    font-size: 50px;
    font-family: monospace;
    padding: 25px;
    margin: 25px;
}

input {
    padding: 25px;
    margin: 25px;
    background-color: aliceblue;
    width: 90%;
}